Thumbs.db
__pycache__/
.ipynb_checkpoints/
.vscode/
database/
dist/
*.egg-info/
old/
surrogates/
tutorialPictures/
/kawin/KWNLagrange.py
/kawin/RBF.py
*/__pycache__/
*/backup/
*/unused/
/*.ipynb
/*.py
/*.npz

