name: Tests

on:
  push:
  pull_request:

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 100
      matrix:
        python-version: [3.7, 3.8, 3.9]
        pycalphad_develop_version: [true, false]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # fetch the entire repo history, required to guarantee setuptools_scm will pick up tags
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: python -m pip install -U pip setuptools
    - name: Install pycalphad development version
      if: matrix.pycalphad_develop_version
      run: python -m pip install git+https://github.com/pycalphad/pycalphad.git@develop
    - run: python -m pip install build
    - run: python -m build --wheel
    - run: python -m pip install dist/*.whl
    - run: python -m pip install pytest
    - run: python -m pip list
    - run: python -m pytest -v --pyargs kawin
